@using WebserviceClient.DAL.Passagem;

@{
    string aux = "";
    ViewBag.Title = "Inicio Cliente";
    Passagens passagem = new Passagens();

    List<Passagens> passagens = new List<Passagens>();



    passagens = passagem.preencheListaPassagens();
}

<div class="row">
    <div class="col-lg-12 col-md-12 heading">
        <h1 class="page-header"><i class="ec-list"></i> Bem Vindo </h1>
    </div>
</div>
<div class="outlet">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default plain">
                <div class="panel-heading white-bg">
                </div>
                <div class="panel-body">

                    @if (ViewBag.Exception != null)
                    {
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-danger panel-closed toggle panelRefresh panelClose showControls">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> Erro ao realizar operação, tente novamente! </h4>
                                </div>
                                <div class="panel-body">
                                    <font size="-2"> @ViewBag.Exception </font>
                                </div>
                            </div>
                        </div>
                    }

                    <table class="table display" id="datatable">
                        <thead>
                            <tr>
                                <th>
                                    Tipo da Passagem
                                </th>
                                <th>
                                    Local de Origem
                                </th>
                                <th>
                                    Local de Destino
                                </th>
                                <th>
                                    Data de Ida
                                </th>
                                <th>
                                    Data de Volta
                                </th>
                                <th>
                                    Preço
                                </th>
                                <th>Ação</th>
                            </tr>
                        <tbody>
                            @foreach (var item in passagens)
                            {
                                
                                <tr>
                                    <td>
                                        @if(item.Tipo == 0)
                                        {
                                            aux = "Só Ida";
                                        }
                                        else
                                        {
                                            aux = "Ida e Volta";
                                        }
                                        @aux
                                    </td>
                                    <td>
                                        @item.NomeOrigem
                                    </td>
                                    <td>
                                        @item.NomeDestino
                                    </td>
                                    <td>
                                        @item.DataIda
                                    </td>
                                    <td>
                                        @item.DataVolta
                                    </td>
                                    <td>
                                        @item.Preco
                                    </td>
                                    <td>
                                        @Html.ActionLink("Comprar","ComprarPassagem", new { Id = item.Id, DataIda = item.DataIda, DataVolta = item.DataVolta, IdDestino = item.IdDestino, NomeDestino = item.NomeDestino, IdOrigem = item.IdOrigem, NomeOrigem = item.NomeOrigem, Preco = item.Preco, Tipo = item.Tipo})                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
